<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.boss.mapper.DictTypeMapper">
  <resultMap id="BaseResultMap" type="com.open.boss.entity.DictType">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>

  <sql id="sysDictTypeColumns">
    a.id AS "id",
    a.label AS "label",
    a.value AS "value",
    a.description AS "description",
    a.creator AS "creator.id",
    a.create_time AS "createTime",
    a.operator AS "operator.id",
    a.oper_time AS "operTime",
    a.scope,
    a.status AS "status",
    a.version AS "version"
  </sql>

  <sql id="sysDictTypeJoins">
  </sql>

  <select id="get" resultType="com.open.boss.entity.DictType">
    SELECT
    <include refid="sysDictTypeColumns"/>
    FROM sys_dict_type a
    <include refid="sysDictTypeJoins"/>
    WHERE a.id = #{id}
  </select>

  <select id="findList" resultType="com.open.boss.entity.DictType">
    SELECT
    <include refid="sysDictTypeColumns"/>
    FROM sys_dict_type a
    <include refid="sysDictTypeJoins"/>

    <where>
      <if test="status != null and status != ''">
        AND a.status = #{status}
      </if>
      <if test="label != null and label != ''">
        AND a.label like CONCAT('%', #{label}, '%')
      </if>
      <if test="value != null and value != ''">
        AND a.value like CONCAT('%', #{value}, '%')
      </if>
    </where>
  </select>

  <select id="findAllList" resultType="com.open.boss.entity.DictType">
    SELECT
    <include refid="sysDictTypeColumns"/>
    FROM sys_dict_type a
    <include refid="sysDictTypeJoins"/>
    <where>
      <if test="status != null and status != ''">
        AND a.status = #{status}
      </if>
    </where>
  </select>

  <update id="enable">
    UPDATE sys_dict_type SET
    status = #{status}
    WHERE id = #{id}
  </update>

  <select id="getByDictType" resultType="com.open.boss.entity.DictType">
    SELECT
    <include refid="sysDictTypeColumns"/>
    FROM sys_dict_type a
    where 1=1
    <if test="value !=null and value != ''">
      and a.value = #{value}
    </if>
  </select>

  <!--修改时增加版本号-->
  <update id="updateDictVersion">
    UPDATE sys_dict_type SET version = version + 1 WHERE value = #{value}
  </update>

  <!-- 配置属性值时，查询全部字典项 -->
  <select id="getDictAllList" resultType="com.open.boss.entity.DictType">
    select value,label,scope from sys_dict_type where status = '1'
  </select>
</mapper>
