<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trans.payment.boss.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="com.trans.payment.boss.entity.Dict">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="DECIMAL" property="sort" />
    <result column="parent" jdbcType="VARCHAR" property="parent" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="dictColumns">
    a.id AS "id",
    a.label AS "label",
    a.value AS "value",
    a.sort,
    a.parent,
    a.oper_time,
    b.value AS "dictTypeVal",
    b.label AS "type.label",
    b.value AS "dictType.value",
    a.description AS "description",
    a.status AS "status"
  </sql>

  <sql id="dictJoins">
    JOIN sys_dict_type b
  </sql>

  <select id="get" resultType="com.trans.payment.boss.entity.Dict">
    SELECT
    <include refid="dictColumns"/>
    FROM sys_dict a
    <include refid="dictJoins"/>
    WHERE a.id = #{id} and a.type = b.value
  </select>

  <select id="findList" resultType="com.trans.payment.boss.entity.Dict">
    SELECT
    <include refid="dictColumns"/>
    FROM sys_dict a
    <include refid="dictJoins"/>
    <where>
      a.type = b.value
      <if test="value != null and value != ''">
        AND a.value LIKE CONCAT('%', #{value}, '%')
      </if>
      <if test="type != null and type != ''">
        AND a.type = #{type}
      </if>
      <if test="label != null and label != ''">
        AND a.label LIKE CONCAT('%', #{label}, '%')
      </if>
    </where>
    ORDER BY a.type, a.sort, a.oper_time DESC
  </select>

  <select id="findAllList" resultType="com.trans.payment.boss.entity.Dict">
    SELECT
    <include refid="dictColumns"/>
    FROM sys_dict a
    <include refid="dictJoins"/>
    where a.type = b.value
    and a.status = '1'
    and b.status = '1'
    ORDER BY a.type, a.sort, a.oper_time DESC
  </select>

  <update id="enable">
    UPDATE sys_dict SET
    status = #{STATUS_NORMAL}
    WHERE id = #{id}
  </update>

  <update id="updateStatusById" parameterType="com.trans.payment.boss.entity.Dict">
    UPDATE sys_dict SET
    operator = #{operator.id},
    oper_time = #{operTime},
    status = #{status}
    WHERE id = #{id}
  </update>


  <!--根据过滤机构查询数据-->
  <select id="selectDictByOrgId" resultType="com.trans.payment.boss.entity.Dict">
    select * from (select
    <include refid="dictColumns"/>from sys_dict a JOIN sys_dict_type b
    where a.type = b.value
    and a.type not in(
    select DISTINCT s.dict_type from sys_dict_filtration s where s.status='1')
    <if test="value != null and value != ''">
      AND a.value LIKE CONCAT('%', #{value}, '%')
    </if>
    <if test="dictType != null and dictType.value != null and dictType.value != ''">
      AND a.type = #{dictType.value}
    </if>
    <if test="status != null and status != ''">
      AND a.status = #{STATUS_NORMAL}
    </if>
    <if test="label != null and label != ''">
      AND a.label LIKE CONCAT('%', #{label}, '%')
    </if>
    UNION
    select
    <include refid="dictColumns"/>
    from
    sys_dict a join sys_dict_type b JOIN (select * from sys_dict_filtration sdf
    where sdf.status='1'
    and find_in_set(#{channelOrgCode},sdf.channel_org_code)
    and sdf.include_type='1') c
    where a.type = b.value
    and c.dict_id=a.id
    <if test="value != null and value != ''">
      AND a.value LIKE CONCAT('%', #{value}, '%')
    </if>
    <if test="dictType != null and dictType.value != null and dictType.value != ''">
      AND a.type = #{dictType.value}
    </if>
    <if test="status != null and status != ''">
      AND a.status = #{STATUS_NORMAL}
    </if>
    <if test="label != null and label != ''">
      AND a.label LIKE CONCAT('%', #{label}, '%')
    </if>/**已经配置的不包含数据*/
    UNION
    select
    <include refid="dictColumns"/>from sys_dict a join sys_dict_type b
    where a.type = b.value
    and a.type in(select DISTINCT s.dict_type from sys_dict_filtration s where s.status='1' )
    and a.type not in (select DISTINCT sdf.dict_type from sys_dict_filtration sdf
    where sdf.status='1'
    and find_in_set(#{channelOrgCode},sdf.channel_org_code)
    and sdf.include_type='1')
    and a.id not in(select sdf.dict_id from sys_dict_filtration sdf where sdf.status='1'
    and find_in_set(#{channelOrgCode},sdf.channel_org_code)
    and sdf.include_type='0' and sdf.dict_type not in (
    select DISTINCT sdf.dict_type from sys_dict_filtration sdf
    where sdf.status='1'
    and find_in_set(#{channelOrgCode},sdf.channel_org_code)
    and sdf.include_type='1'))
    <if test="value != null and value != ''">
      AND a.value LIKE CONCAT('%', #{value}, '%')
    </if>
    <if test="type != null and dictType.value != null and dictType.value != ''">
      AND a.type = #{dictType.value}
    </if>
    <if test="status != null and status != ''">
      AND a.status = #{STATUS_NORMAL}
    </if>
    <if test="label != null and label != ''">
      AND a.label LIKE CONCAT('%', #{label}, '%')
    </if>
    ) a
    ORDER BY a.dictTypeVal,a.parent,a.value,a.sort,a.oper_time DESC
  </select>

  <!--查询字典存不存在-->
  <select id="findDictCount" resultType="long">
    select count(*) AS dictCount FROM sys_dict t WHERE t.value = #{value} AND t.type = #{dictType.value}
    <if test="id != null and id != ''">
      AND id &lt;&gt; #{id}
    </if>
  </select>

  <!--根据渠道号查询渠道名称-->
  <select id="findDictByType" resultType="com.trans.payment.boss.entity.Dict" parameterType="java.util.List">
    SELECT
    <include refid="dictColumns"/>
    FROM sys_dict a
    <include refid="dictJoins"/>
    WHERE a.type = b.value AND a.type = 'Common_ChannelCd'
    AND a.value IN
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <!--修改字典名称-->
  <update id="updateDictLabel">
    update sys_dict set label = #{label},description = #{description} where value = #{value} and type = #{dictType.value}
  </update>

  <!--根据字典类型值查询字典对象-->
  <select id="findDict" resultType="com.trans.payment.boss.entity.Dict">
    SELECT
    <include refid="dictColumns"/>
    FROM sys_dict a
    <include refid="dictJoins"/>
    WHERE a.type = b.value and a.value = #{value} and a.type = #{dictType.value}
  </select>

  <resultMap id="productDictResult" type="java.util.HashMap">
    <result property="id" column="id"/>
    <result property="label" column="label"/>
    <result property="sort" column="sort"/>
    <result property="parent" column="parent"/>
    <result property="oper_time" column="oper_time"/>
    <result property="type" column="type"/>
    <result property="value" column="value"/>
    <result property="description" column="description"/>
    <result property="status" column="status"/>
  </resultMap>

  <select id="productDict" parameterType="java.util.HashMap" resultMap="productDictResult">
    SELECT
    a.id AS "id",
    a.label AS "label",
    a.sort,
    a.parent,
    a.oper_time,
    a.type,
    CASE #{proAttrType}
    WHEN ('1') THEN GROUP_CONCAT(a.label separator '；')
    WHEN ('4') THEN CONCAT_WS('',#{value},' (%)')
    ELSE
    #{value} END AS value,
    a.description AS "description",
    a.status AS "status"
    FROM sys_dict a where
    FIND_IN_SET(a. VALUE, #{value}) > 0 AND status = '1'
    <if test="type != null and type != ''">
      AND a.type = #{type}
    </if>
  </select>

  <resultMap id="productDictValueResult" type="java.util.HashMap">
    <result property="valueStr" column="valueStr"/>
  </resultMap>

  <select id="getProductDictValue" parameterType="java.util.HashMap" resultMap="productDictValueResult">
    SELECT GROUP_CONCAT(value) AS valueStr FROM sys_dict WHERE status = '1' and type = #{dictType}
  </select>

  <resultMap id="getProDictValueResult" type="java.util.HashMap">
    <result property="dictValue" column="dictValue"/>
    <result property="dictLabel" column="dictLabel"/>
    <result property="checkFlag" column="checkFlag"/>
  </resultMap>

  <select id="getProDictValue" parameterType="java.util.HashMap" resultMap="getProDictValueResult">
    SELECT value AS dictValue,label AS dictLabel,'1' AS checkFlag FROM sys_dict WHERE status = '1' and type =
    #{dictType} AND value IN
    <foreach collection="values" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
    UNION
    SELECT value AS dictValue,label AS dictLabel,'0' AS checkFlag FROM sys_dict WHERE status = '1' and type =
    #{dictType} AND value NOT IN
    <foreach collection="values" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY convert(dictLabel using gbk)
  </select>
  <select id="selectDictByObj" resultType="com.trans.payment.boss.entity.Dict"
    parameterType="com.trans.payment.boss.entity.Dict">
    select * from sys_dict where
    1=1
    <if test="value !=null and value !='' ">
      and value = #{value}
    </if>
    <if test="type !=null and type !=''">
      and type =#{type}
    </if>


  </select>
</mapper>