<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.boss.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.open.boss.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id"/>
    <result column="office_id" jdbcType="VARCHAR" property="officeId"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="role_type" jdbcType="VARCHAR" property="roleType"/>
    <result column="data_scope" jdbcType="CHAR" property="dataScope"/>
    <result column="is_sys" jdbcType="VARCHAR" property="isSys"/>
    <result column="creator" jdbcType="VARCHAR" property="creator"/>
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt"/>
    <result column="operator" jdbcType="VARCHAR" property="operator"/>
    <result column="oper_dt" jdbcType="TIMESTAMP" property="operDt"/>
    <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
    <result column="status" jdbcType="CHAR" property="status"/>
    <result column="system_sign" jdbcType="VARCHAR" property="systemSign"/>
  </resultMap>

  <select id="getRoleByUserId" resultMap="BaseResultMap">
    SELECT
    a.*
    FROM sys_role a
    WHERE a.id IN (SELECT role_id FROM sys_user_role WHERE user_id = #{userId})
  </select>

  <sql id="roleColumns">
    a.id,
    a.office_id AS "office.id",
    a.name,
    a.code,
    a.role_type AS roleType,
    a.data_scope AS dataScope,
    a.creator AS "creator.id",
    a.create_dt,
    a.operator AS "operator.id",
    a.oper_dt,
    a.status,
    a.remarks,
    a.is_sys AS sysData
  </sql>

  <resultMap id="roleResult" type="com.open.boss.entity.Role">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="code" column="code"/>
    <result property="roleType" column="roleType"/>
    <result property="dataScope" column="dataScope"/>
    <result property="sysData" column="sysData"/>
    <result property="remarks" column="remarks"/>
    <collection property="menuList" ofType="com.open.boss.entity.Menu">
      <id property="id" column="menuList.id"/>
      <id property="parentIds" column="menuList.parentIds"/>
      <id property="systemSign" column="menuList.systemSign"/>
    </collection>
    <collection property="officeList" ofType="com.open.boss.entity.Organization">
      <id property="id" column="officeList.id"/>
    </collection>
  </resultMap>

  <select id="findList" resultMap="roleResult">
    SELECT
    <include refid="roleColumns"/>
    FROM sys_role a
    WHERE a.status = #{STATUS_NORMAL}
    <if test="name != null and name != ''">
      AND a.name like CONCAT('%', #{name}, '%')
    </if>
    ORDER BY create_dt
  </select>

  <select id="getRoleByName" resultType="com.open.boss.entity.Role" parameterType="java.lang.String">
    SELECT
    <include refid="roleColumns"/>
    FROM sys_role a
    JOIN sys_organization o ON o.id = a.office_id
    WHERE a.name = #{name} AND a.status = '1'
  </select>

  <select id="getRoleByCode" resultType="com.open.boss.entity.Role">
    SELECT
    <include refid="roleColumns"/>
    FROM sys_role a
    JOIN sys_organization o ON o.id = a.office_id
    WHERE a.code = #{code} AND a.status = '1'
  </select>

  <delete id="deleteRoleMenu">
    DELETE FROM sys_role_menu WHERE role_id = #{id}
  </delete>

  <insert id="insertRoleMenu">
    INSERT INTO sys_role_menu(role_id, menu_id)
    <foreach collection="menuList" item="menu" separator=" union all ">
      SELECT #{id}, #{menu.id}
      FROM dual
    </foreach>
  </insert>

  <!--根据角色 查询该角色下的分配用户 -->
  <select id="showSelectedRoleUser" resultType="com.open.boss.entity.User"
    parameterType="com.open.boss.entity.Role">
    select s.name,s.no,s.id from sys_user s,sys_user_role u where 1=1
    and s.id=u.user_id
    and role_id=#{id}
  </select>

  <!-- 查询角色下最大的编号-->
  <select id="selectRoleMaxCode" resultType="com.open.boss.entity.Role">
    select IFNULL(MAX(CAST(substring(code,3) AS signed)),0) as "code" from sys_role where status='1'
  </select>

  <!--根据用户no查询角色列表信息-->
  <select id="findUserRole" parameterType="java.lang.String" resultType="com.open.boss.entity.Role">
    SELECT
    r.id AS "id",
    r.code AS "code",
    r.name AS "name",
    r.system_sign AS "system"
    FROM
    sys_user_role t
    INNER JOIN sys_user u ON t.user_id = u.id
    INNER JOIN sys_role r ON r.id = t.role_id
    WHERE
    u.no = #{no}
  </select>

  <!-- 删除用户和角色关联表数据 -->
  <delete id="deleteUserRole" parameterType="java.lang.String">
    DELETE FROM sys_user_role WHERE user_id = #{userId}
  </delete>


  <update id="deleteDataScope">
    UPDATE sys_role SET
    status = '0'
    WHERE id in ${dataScope}
  </update>

  <update id="deleteUserRoleByRoleId">
    DELETE FROM sys_user_role WHERE role_id in ${dataScope}
  </update>


  <resultMap id="roleBaseResult" type="com.open.boss.entity.Role">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="code" column="code"/>
    <result property="roleType" column="roleType"/>
    <result property="dataScope" column="dataScope"/>
    <result property="sysData" column="sysData"/>
    <result property="remarks" column="remarks"/>
    <association property="menuList" column="menuId" javaType="com.open.boss.entity.Menu">
      <id property="id" column="menuId"/>
      <id property="parentIds" column="parentIds"/>
      <id property="systemSign" column="systemSign"/>
    </association>
  </resultMap>


  <select id="getRoleMenuList" resultMap="roleBaseResult">
    SELECT
    a.id,
    a.code,
    a.name,
    m.id AS "menuId",
    m.parent_ids,
    m.system_sign
    FROM sys_role a
    JOIN sys_role_menu rm ON rm.role_id = a.id
    LEFT JOIN sys_menu m ON rm.menu_id=m.id
    WHERE a.id = #{id}
  </select>


  <select id="selectRoleMenu" parameterType="java.lang.String" resultType="com.open.boss.entity.Menu">
    select * from sys_menu m
    INNER JOIN sys_role_menu rm ON rm.menu_id = m.id
    where rm.role_id = #{roleId}
  </select>

  <select id="checkPerssion" parameterType="java.lang.String" resultType="integer">
    select count(ur.user_id) idcount from sys_role r left join
    sys_user_role ur on r.id = ur.role_id
    where r.code = 'SP001' and ur.user_id = #{id}
  </select>
</mapper>
